{% load static %}


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg-secondary">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted" style="color:rgb(255, 255, 255)"> &copy Swayam's ShopKart </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2" style="color:rgb(179, 225, 255)">work.swayam@gmail.com</span>
				<span  class="px-2" style="color:rgb(255, 255, 255)">+91 99388-29636</span>
				<span  class="px-2" style="color:rgb(255, 255, 255)">Bijipur 123, Berhampur 760001</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa" style="color:rgb(255, 255, 255)"></i>
				<i class="fab fa-lg fa-cc-paypal" style="color:rgb(255, 255, 255)"></i>
				<i class="fab fa-lg fa-cc-mastercard" style="color:rgb(255, 255, 255)"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->